<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px">class</mat-icon>
  <span>Super Form Infini</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<h1>Formulaire qui sert à rien</h1>
<mat-card style="width: 700px; margin: auto; padding: 20px;">
  <form [formGroup]="appForm">

    <mat-form-field style="width: 100%">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Nom et prénom" name="name" formControlName = "name" >
        <mat-error *ngIf="appForm.get('name')?.hasError('required')">
          Votre nom est <strong>requis</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Numéro de rue</mat-label>
      <input matInput type="number" placeholder="5230" name="roadnumber" formControlName = "roadnumber">
      <mat-error *ngIf="!appForm.get('roadnumber')?.hasError('required') && appForm.get('roadnumber')?.hasError('min') || appForm.get('roadnumber')?.hasError('max')">
        le numéro de rue doit être entre <strong>1000</strong> et <strong>9999</strong>
      </mat-error>
      <mat-error *ngIf="appForm.get('roadnumber')?.hasError('required')">
        Votre numéro de rue est <strong>requis</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
        <mat-label>Rue</mat-label>
        <input matInput type="text" placeholder="Resther" name="rue" formControlName="rue" >
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Code Postal</mat-label>
      <input matInput type="text" placeholder="H2J8B2" name="postalcode" formControlName = "postalcode">
      <mat-error *ngIf="appForm.get('postalcode')?.hasError('pattern')">
        Votre code postal doit respecter ce pattern : <strong>[A-Z][0-9][A-Z][ ]?[0-9][A-Z][0-9]</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Commentaire</mat-label>
      <textarea matInput placeholder="Votre commentaire" name="comments" formControlName="comments"></textarea>
      <mat-error *ngIf="appForm.get('comments')?.hasError('minWords')">
        Votre commentaire doit contenir au moins <strong>10 mots</strong>.
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="appForm.hasError('NameInComment')">
      Le nom ne doit pas être dans le commentaire rédiger
    </mat-error>
    <mat-card-actions align="end">
      <button  mat-raised-button color="primary" [disabled]="!appForm.valid" >Acheter</button>
    </mat-card-actions>
  </form>
</mat-card>